@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .orderTable{
        padding-top: 1rem;
        position: fixed;
        margin-top: 5rem;
        margin-left: 41rem;
        height: 40rem;
        width: 21rem;
        background-color: #DBCBA3;
        border-radius: 8%;
        text-align: center;
    }

    .orderTable h1{
        font-family: 'Amatic SC';
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 35px;
    }

    .delete_btn{
      font-weight: bold;
      background: none;
      border: none;
      text-decoration: none;
      color: crimson;
      font-size: 30px;
    }

    .petition_table{
      font-family: 'Amatic SC';
      font-size: 25px;
      font-weight: bold;
    }

    .total_div{
      margin-top: 10rem;
    }

  }