@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .sidebar {
        width: 7rem;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: #DBCBA3;
      }
      
      .sidebar_btn {
        width: 100%;
        height: 33.3%;
        background: none;
        border: none;
        text-decoration: none;
      }

      .sidebar_btn:hover {
        opacity: 1;
        background-color: #8d7435c0;
        transition: .2s ease;
      }

      .sidebar_img {
        width: 4em;
        background: none;
        -webkit-filter: drop-shadow(5px 5px 5px rgb(17, 17, 17));
        filter: drop-shadow(5px 5px 5px rgb(15, 15, 15));
      }


}