@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    *{
      margin: 0;
      padding: 0;
      }
      

    body{
      background-image: url(https://i.imgur.com/eEgkrzv.jpg);
      background-position: center;
      background-size: cover;
      }

    #root{
      height: 100vh;
      }

};